<template>
    <div id="navigation">
        <div class="frontNavigation"
             v-if="isFront">
            <div class="frontNav"
                 v-for="item in frontNav"
                 :key="item.title">
                <a :href="item.href">{{ item.title }}</a>
            </div>
        </div>
        <div class="backNavigation"
             v-else>
            <div class="backNav"
                 v-for="item in backNav"
                 :key="item.title">
                <a :href="item.href">{{ item.title }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    var CheminComplet = document.location.href;

    export default {
        name: "navigation",
        data() {
            return {
                currentUrl : CheminComplet.substring(CheminComplet.lastIndexOf( "/" )+1 ),
                frontNav : [
                    {
                        title : 'Liste',
                        href : '/#/liste'
                    },
                    {
                        title : 'Carte',
                        href : '/#/carte'
                    },
                    {
                        title : 'Informations',
                        href : '/#/informations'
                    },
                ],
                backNav : [
                    {
                        title : 'Ruchers',
                        href : '/#/ruchers'
                    },
                    {
                        title : 'Configuration',
                        href : '/#/configuration'
                    },
                ]
            }
        },
        computed : {
            isFront() {
                if (this.currentUrl === 'configuration' || this.currentUrl === 'ruchers'){
                    return false
                }
                return true
            }
        }
    }
</script>

<style scoped>
    #navigation{
        background-color: cornsilk;
        height: 5vh;
        width: 100%;
    }
    .frontNavigation, .backNavigation{
        display: flex;
        flex-direction: row;
        margin-top : 1vh;
    }
    .frontNav, .backNav{
        margin : auto;
    }
    a {
        text-decoration: none;
        color: #887E7E;
        font-weight: bold;
        margin-top : auto;
    }
</style>
